<form class="form-inline aqb-search-condition" name="searchConditionForm">
    <div class="form-group">
      <select name="sourceField"
            placeholder="Alan Seçiniz"
            class="form-control"
            ng-change="selectSourceField()"
            ng-model="selectedSourceField"
            ng-class="searchConditionForm.$submitted && searchConditionForm.sourceField.$error.required ? 'aqb-input-error' : ''"
            ng-options="f.label for f in sourceType.sourceFields | orderBy:'position'" required></select>
    </div>

    <div class="form-group">
      <select name="comparisonOperator"
              placeholder="Operatör Seçiniz"
              class="form-control"
              ng-change="selectComparisonOperator()"
              ng-model="selectedComparisonOperator"
              ng-class="searchConditionForm.$submitted && searchConditionForm.comparisonOperator.$error.required ? 'aqb-input-error' : ''"
              ng-options="o in selectedSourceField.comparisonOperators | orderBy:'position'" required></select>
    </div>

    <div class="form-group">
      <input name="inputItem"
              placeholder="Değer Giriniz"
             class="form-control"
             type="text"
             id="{{searchConditionInputItemId}}"
             ng-model="inputItem.displayName"
             ng-class="searchConditionForm.$submitted && searchConditionForm.inputItem.$error.required ? 'aqb-input-error' : ''" 
             autocomplete="off" required>
    </div>

    <button class="btn btn-sm" type="submit" ng-click="addCondition(searchConditionForm)" ng-show="canAddCondition(conditionIndex)">
      <i class="mdi-content-add-circle i-16"></i>
    </button>
    <button class="btn btn-sm" type="button" ng-click="removeCondition(conditionIndex)">
      <i class="mdi-content-remove-circle i-16"></i>
    </button>
</form>