<form class="form-inline aqb-search-condition" name="searchConditionForm">
    <div class="form-group">
      <select name="sourceField"
            placeholder="Alan Seçiniz"
            class="form-control"
            ng-change="selectSourceField()"
            ng-model="selectedSourceField"
            ng-class="searchConditionForm.$submitted && searchConditionForm.sourceField.$error.required ? 'aqb-input-error' : ''"
            ng-options="f.label for f in sourceType.sourceFields | orderBy:'position'" required></select>
    </div>

    <div class="form-group">
      <select name="comparisonOperator"
              placeholder="Operatör Seçiniz"
              class="form-control"
              ng-change="selectComparisonOperator()"
              ng-model="selectedComparisonOperator"
              ng-class="searchConditionForm.$submitted && searchConditionForm.comparisonOperator.$error.required ? 'aqb-input-error' : ''"
              ng-options="o for o in selectedSourceField.comparisonOperators | orderBy:'position'" required></select>
    </div>

    <!-- Type: Text -->
    <div class="form-group" ng-if="selectedSourceField.type == 'text'">
      <input name="inputItem"
             placeholder="Değer Giriniz"
             class="form-control"
             type="text"
             id="{{searchConditionInputItemId}}"
             ng-model="inputItem.label"
             ng-class="searchConditionForm.$submitted && searchConditionForm.inputItem.$error.required ? 'aqb-input-error' : ''" 
             autocomplete="off" required>
    </div>
    <!-- /Type: Text -->

    <!-- Type: Number -->
    <div class="form-group" ng-if="selectedSourceField.type == 'number'">
      <input name="inputItem"
             placeholder="Değer Giriniz"
             class="form-control"
             type="number"
             id="{{searchConditionInputItemId}}"
             ng-model="inputItem.label"
             ng-class="searchConditionForm.$submitted && searchConditionForm.inputItem.$error.required ? 'aqb-input-error' : ''" 
             autocomplete="off" required>
    </div>
    <!-- /Type: Number -->

    <!-- Type: Select -->
    <div class="form-group" ng-if="selectedSourceField.type == 'select'">

      <select name="inputItem"
            placeholder="Seçiniz"
            class="form-control"
            id="{{searchConditionInputItemId}}"
            ng-model="inputItem.label"
            ng-class="searchConditionForm.$submitted && searchConditionForm.inputItem.$error.required ? 'aqb-input-error' : ''" 
            ng-options="o.key as o.value for o in selectedSourceField.options" required></select>

    </div>
    <!-- /Type: Select -->

    <!-- Type: AutoComplete -->
    <div class="form-group" ng-if="selectedSourceField.type == 'autocomplete'">
            <ui-select ng-model="inputItem.label" id="{{searchConditionInputItemId}}" name="inputItem" theme="bootstrap" style="min-width: 151px" required>
              <ui-select-match placeholder="Arayınız">
                {{$select.selected.user.full_name}}
              </ui-select-match>
              <ui-select-choices refresh="getOptions(selectedSourceField, $select.search)" refresh-delay="500"
                repeat="o.id as o in selectedSourceField.options | filter: $select.search">
                <div ng-bind-html="o.user.full_name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
    </div>
    <!-- /Type: AutoComplete -->


    <!-- Type: Date -->
    <div class="form-group" ng-if="selectedSourceField.type == 'date'">
        <input type="text" name="inputItem" id="{{searchConditionInputItemId}}" class="form-control"
            ng-model="inputItem.label"
            placeholder="Seçiniz"
            data-date-format="dd.MM.yyyy"
            data-model-date-format="yyyy-MM-dd"
            data-autoclose="1"
            bs-datepicker>

    </div>
    <!-- /Type: Date -->

    <button class="btn btn-sm" type="submit" ng-click="addCondition(searchConditionForm)" ng-if="canAddCondition(conditionIndex)">
      <i class="mdi-content-add-circle i-16"></i>
    </button>
    <button class="btn btn-sm" type="button" ng-click="removeCondition(conditionIndex)">
      <i class="mdi-content-remove-circle i-16"></i>
    </button>
</form>